In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import arrow
import random
import pandas as pd
import numpy as np
from datetime import datetime
from datagen.csvgen.base import randgen, randrec
from datagen.csvgen.ner import converter
from tqdm import tqdm

In [3]:
%%time
[randrec.ktp_data(kode_wilayah=["31"], berlaku_date_prob=0.8)['berlaku'] for i in range(10)]

CPU times: user 1.66 s, sys: 211 ms, total: 1.87 s
Wall time: 1.88 s

['07-08-2017',
 '09-11-2014',
 '21-06-2012',
 '06-05-2019',
 '12-10-2012',
 'SEUMUR HIDUP',
 '19-02-2019',
 '12-03-2011',
 '28-11-2013',
 '24-12-2018']

In [30]:
ktp_data = randrec.ktp_generator(30, kode_wilayah=["31"], name_degree_prob=0.1, name_abbrev_prob=0.1)

100%|██████████| 30/30 [00:05<00:00,  5.56it/s]

In [31]:
ktp_data['nama']

0                              YULINDASARI
1                          UMMU KHADIJAH W
2              IMANUEL MARFEL DEFRON, M.T.
3                        YESSY WAHYU PUTRI
4                              GOGO NOVENA
5                  IGNASIUS LUCKY SANDIN D
6                          USWATUN RAHIMAH
7                               HIVA AHOLO
8                   SEPTIYAN RIZKY EFFENDI
9                      NOEL APTAGUNA EWITH
10                   RUDIANTO SARAKA, S.H.
11                          RISYA I RAHAYU
12    AFRIEDIANTO ISTIGFARAH PRATAMA PUTRA
13                         ENJANG SUMIARSA
14                            EBENES SUHUN
15                               MONA LUKI
16                             ABILA HASAN
17                   PALAKI PALAUNI HIKILA
18                        FIRLI FIRLIANI.N
19               ARINDA KRIS M DWI PRATIWI
20                          FAZAR SAEFUL R
21                      MOZA YULIA STEFANI
22                             ELSYA OMEGA
23                              NOVINGATUN
24                WANTI REGINA MAGNES OLLA
25                             RUDI SABUTI
26                           LAS S NIRMALA
27      FRANCISKA LAMTIURMA YUNITA SINURAT
28                           WIWID RINALDI
29                           YULIO PELEALU
Name: nama, dtype: object

In [5]:
ktp_data.to_csv('data/ktp_data_130k_record.csv', index=False, index_label=False)

In [6]:
def clean_kode(kode):
    if kode != None and '|' in kode:
            kode = kode.split("|")
    return kode

In [7]:
clean_kode("31|32")

['31', '32']

In [8]:
from si_prefix import si_format
def num_format(num, precision=0):
    out = si_format(num, precision=precision)
    out = out.split(" ")
    out = "".join(out)
    return out

num_format(10000)

'10k'

In [9]:
import time
str(f'{time.time():.0f}')

'1611449988'