In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import arrow
import random
import pandas as pd
import numpy as np
from datetime import datetime
from datagen.csvgen.base import randgen, randrec
from datagen.csvgen.ner import converter
from tqdm import tqdm

In [11]:
ktp_data = pd.read_csv('data/ktp_data_11000_record.csv')

In [13]:
ktp_data.head()

,provinsi,kabupaten,nik,nama,ttl,gender,goldar,alamat,rtrw,kelurahan,kecamatan,agama,perkawinan,pekerjaan,kewarganegaraan,berlaku,sign_place,sign_date
0,PROVINSI SUMATERA UTARA,KABUPATEN PADANG LAWAS,1221010406990305,HARIANTO PECHT,"PADANG LAWAS, 04-06-1999",PEREMPUAN,O,JL WARU 5-B,014/011,HUTABARU SOSOPAN,SOSOPAN,ISLAM,CERAI MATI,PETANI/PEKEBUN,WNI,SEUMUR HIDUP,PADANG LAWAS,01-12-2015
1,PROVINSI RIAU,KABUPATEN KAMPAR,1401120212890307,LUKMAN HERRY LATIP,"TAPUNG HULU, 02-12-1989",PEREMPUAN,B,JL PD JAYA II 21,020/011,SENAMA NENEK,TAPUNG HULU,ISLAM,CERAI MATI,MENGURUS RUMAH TANGGA,WNI,SEUMUR HIDUP,KAMPAR,02-09-2020
2,PROVINSI SUMATERA UTARA,KABUPATEN NIAS UTARA,1224072602631541,PURNA HARJANI,"ALASA, 26-02-1963",LAKI-LAKI,O,JL KETANG KETANG 3,015/001,ONONAMOLO TUMULA,ALASA,ISLAM,CERAI HIDUP,PETANI/PEKEBUN,WNI,SEUMUR HIDUP,NIAS UTARA,14-03-2014
3,PROVINSI NUSA TENGGARA TIMUR,KABUPATEN BELU,5304040107846238,CHRISTOPHER JAMES GARRARD,"BELU, 01-07-1984",PEREMPUAN,B,KUNINGAN TIMUR,004/010,RINBESIHAT,TASIFETO BARAT,ISLAM,KAWIN,PETANI/PEKEBUN,WNI,SEUMUR HIDUP,BELU,18-02-2019
4,PROVINSI JAWA BARAT,KABUPATEN CIREBON,3209392101625630,TJIA WIWIN ANGGONO,"SURANENGGALA, 21-01-1962",PEREMPUAN,O,JL.JATIWARINGIN,028/023,SURANENGGALA KIDUL,SURANENGGALA,ISLAM,KAWIN,MENGURUS RUMAH TANGGA,WNI,SEUMUR HIDUP,CIREBON,13-09-2012

In [12]:
ktp_ner = converter.to_ner_dataframe(ktp_data)

100%|██████████| 11000/11000 [00:09<00:00, 1197.10it/s]

In [14]:
ktp_ner.head()

   sentence_idx       word         tag
0             0   PROVINSI  U-FLD_PROV
1             0   SUMATERA  B-VAL_PROV
2             0      UTARA  L-VAL_PROV
3             0  KABUPATEN   U-FLD_KAB
4             0     PADANG   B-VAL_KAB

In [15]:
# ktp_ner.to_csv('ktp_ner_dataset.csv', index=False, index_label=False)

In [16]:
trainframe, validframe, testframe = converter.split_ner_dataframe(ktp_ner)
trainframe = converter.reset_sentence_index(trainframe)
validframe = converter.reset_sentence_index(validframe)
testframe = converter.reset_sentence_index(testframe)

100%|██████████| 11000/11000 [00:19<00:00, 555.50it/s]
100%|██████████| 8250/8250 [00:29<00:00, 280.39it/s]
100%|██████████| 1788/1788 [00:01<00:00, 1226.09it/s]
100%|██████████| 962/962 [00:00<00:00, 1337.87it/s]

In [ ]:
trainframe.to_csv('ktp_ner_train_dataset.csv', index=False, index_label=False)
validframe.to_csv('ktp_ner_valid_dataset.csv', index=False, index_label=False)
testframe.to_csv('ktp_ner_test_dataset.csv', index=False, index_label=False)