In [34]:
import json
import pandas as pd
from tqdm import tqdm

In [46]:
def scrapy2dframe(json_file):    
    with open(json_file) as file:
        datas = json.load(file)
    
    alamat = {
        'name':[],
        'address': [],
        'region':[]
    }
    
    for data in tqdm(datas):
        name = str(data['name']).strip()
        address = str(data['address']).strip()
        
        alamat['name'].append(name)
        alamat['address'].append(address)
        alamat['region'].append(data['region'])

    df = pd.DataFrame(alamat)
    
    return df

In [55]:
df = scrapy2dframe('/home/nunenuh/study/code/repo/carialamat.scrapy/results/carialamat_v2.json')

100%|██████████| 100765/100765 [00:00<00:00, 593710.90it/s]

In [56]:
df.iloc[10055]

name       Perguruan Tinggi Swasta
address            Jl. Adhiyaksa 1
region                 banjarmasin
Name: 10055, dtype: object

In [30]:
pd.read_csv('~/study/code/repo/carialamat.scrapy/results/data.csv')

,name,address,region
0,PT. USAHA EXPRESS BATAM,"Jl. Imam Bonjol, Komplek Bumi Indah Blok B No....",batam
1,SEMERU Catering Batam,"Jl. Raja Isa, Komplek Ruko Purimas Blok A46 Ba...",batam
2,POKJAR UT BATAM,RUKO TIBAN MAS ASRI BLOKA D NO 03 - TIBAN - SE...,batam
3,Kantor Pengacara Desnata Firdaus & Associate B...,"Ruko Alexandria Business Center Blok B8 No.15,...",batam
4,Agen Fiforlif Batam Batam,Perum Tiban Mc Dermot II blok L no 10A\r\nTiba...,batam
...,...,...,...
385,Ling Ling Salon,Jl. Tanjung Pantun Blok J/10,batam
386,Laverna Salon,Kompleks Bumi Indah 33,batam
387,Krisna Salon,Kompleks Bengkong Indah Blok C/57 RT.001/03,batam
388,Klassik Salon,Jl. Windsor XXI Blok II/P-1,batam
389,Kiki Salon,Kompleks Bumi Indah Blok I/54-55,batam