In [1]:
import pandas as pd

In [2]:
path = '../data/wilayah/csv/wilayah.csv'
df = pd.read_csv(path)

In [5]:
df_prov = df[df['kode'].str.len()==2].copy()

In [23]:
df_kab = df[df['kode'].str.len()==5].copy()

In [10]:
df_kec = df[df['kode'].str.len()==8].copy()

In [16]:
df_kel = df[df['kode'].str.len()>8].copy()

In [35]:
df_kab[df_kab['nama'].str.startswith('KOTA ADM.')]

        kode                       nama
27383  31.71    KOTA ADM. JAKARTA PUSAT
27436  31.72    KOTA ADM. JAKARTA UTARA
27474  31.73    KOTA ADM. JAKARTA BARAT
27539  31.74  KOTA ADM. JAKARTA SELATAN
27615  31.75    KOTA ADM. JAKARTA TIMUR